accelerate
beautifulsoup4
bitsandbytes
chardet
faiss-cpu
gpt4all
huggingface-hub
langchain
langchain-community
langchainhub
llama-cpp-python
matplotlib
pyvi
rank_bm25
sentence-transformers
streamlit
streamlit-chat
transformers